body{
    background-color: #faedcd;
    color:#36422c;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Inter', sans-serif;
  
  }
 
#reservationForm {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}




  .pillbutton{
    display: block;
    padding: 10px;
    background-color: rgba(236, 109, 50, 1);
    color: rgba(35, 35, 35, 1);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 30%;
  }

  .pillbutton a:hover {
    background-color: rgba(243, 162, 124);
  }

  .pillbutton span {
    display: block;
    pointer-events: none;
  }